@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

    .content {
        height: 100%;
        background-image: repeating-linear-gradient(180deg, transparent, transparent 12px, teal 12px, teal calc(12px + 1px));
        background-size: 100% 24px;
        line-height: 24px;
    }
    
